<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd"> 
   <context:component-scan base-package="controller"/> 
   <context:component-scan base-package="service"/> 
   <mvc:annotation-driven/>
   <!-- 允许static目录下所有文件可见 -->
   <mvc:resources location="/static/" mapping="/static/**"></mvc:resources> 
   <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/cart/**"/>
			<bean class="interceptor.BuserIsLoginInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/goods/**"/>
			<mvc:mapping path="/type/**"/>
			<mvc:mapping path="/admin/select**"/>
			<bean class="interceptor.AdminIsLoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/pages/" />
		<!-- 后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	<!--配置一个名为multipartResolver的bean 用于文件上传 -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver"/> 
</beans>
